<app-navbar></app-navbar>

<div class="container">
  <div class="row margin-top-icon">
    <div class="col-md-12">
      <br>
      <a [routerLink]="['/trackingList']" class="btn">
        <i class="pi pi-arrow-circle-left" style="font-size: 2.5rem; color: #f8f9fa"></i>
      </a>
    </div>
  </div>

  <div class=" position-relative">
    <div class="row margin-top-icon text-center">
      <div class="col-md-3 col-sm-3 col-3">
        <i class="pi pi-file icon" style="font-size: 2.5rem; color: #f8f9fa"></i>
      </div>
      <div class="col-md-6 col-sm-6 col-6">
        <i class="pi pi-cog icon" [ngClass]="{'pi-spin': mostrarSpinner}" style="font-size: 2.5rem; color: #f8f9fa"></i>
      </div>
      <div class="col-md-3 col-sm-3 col-3">
        <i class="pi pi-check-circle icon" style="font-size: 2.5rem; color: #f8f9fa"></i>
      </div>
    </div>

    <div class="row margin-top-progress bottom-0">
      <div class="col-1"></div>
      <div class="col-10">
        <p-progressBar [value]="progress" [style]="{ height: '16px' }" #myProgressBar>
        </p-progressBar>
      </div>
      <div class="col-1"></div>
    </div>
  </div>

  <div class="row align-items-center justify-content-md-center text-light margin-top-info">
    <div class="col-md-12 d-flex justify-content-md-center">
      <ul class="list-unstyled">
        <li> <div class="col-md-12 col-sm-12">
          <h4 class="text-inline text-md-left text-sm-center">
            <strong>N° de pedido:</strong>
            {{ pedidoCliente }}
          </h4>
        </div> </li>
        <li> <div class="col-md-12 col-sm-12">
          <h4 class="text-inline text-md-left text-sm-center">
            <strong>Fecha de ingreso:</strong>
            {{ fechaContabilizacion }}
          </h4>
        </div> </li>
        <li> <div class="col-md-12 col-sm-12">
          <h4 class="text-inline text-md-left text-sm-center">
            <strong>Estado:</strong>
            {{ estadoPedido }}
          </h4>
        </div> </li>
        <li> <div class="col-md-12 col-sm-12">
          <h4 class="text-inline text-md-left text-sm-center">
            <strong>Fecha de entrega:</strong>
            {{ fechaEntrega }}
          </h4>
        </div> </li>
        <li> <div class="col-md-12 col-sm-12">
          <h4 class="text-inline text-md-left text-sm-center">
            <strong>Tiempo de entrega:</strong>
            {{ tiempoEntrega }}
          </h4>
        </div> </li>
      </ul>
    </div>
  </div>
</div>
